PORT=5005
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/rider-service
JWT_SECRET=your_super_secret_key_here
RESTAURANT_SERVICE_URL=http://localhost:5002
REALTIME_SERVICE_URL=http://localhost:5004
INTERNAL_API_KEY=a_long_random_secret_for_service_to_service_calls
